.editornav{
    font-size: 24px; 
    display:block;
    font-family: monospace;
    background-color: black; 
    text-align: center; 
    color: white;
    font-weight: bold;
    padding:10px;
}

body{
    width: 100%;
    height: 100%;

}
.bigContainer{
    display: flex;
    width: 100%;
    height: 70%;

}   

.smallContainer{
    width: 50%;
    height:470px;
    border: 1px dashed gray;
}

#c1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#textArea{
    margin : 10px 20px;
    width : 80%;height: 85%;
    padding:10px;
    background-color: aliceblue;
}
#c2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#operationDisplay{
    margin-top:10px;
    width: 80%;
    height: 85%;
    padding:10px;
    text-align: center;
    overflow-y: scroll;
    border: 0.5px dotted gray;
    color:red;
}
.buttonDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#undoButton{
    margin-top:20px;
}
#clearButton{
    margin-top: 10px;
}