#bigContainer{

    width:100vw;
    height:70vh;
    display: flex;

}

.smallContainer{
    
    width: 50%;
    height: 100%;
    border:0.5px solid gray;

}

.editornav{
    
    font-size: 24px; 
    display:block;
    font-family: monospace;
    background-color: black; 
    text-align: center; 
    color: white;
    font-weight: bold;
    padding:10px;

}
form{
    margin:10px;
}
.button-div{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}

button{
    margin:5px;
}

#c1, #c2{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#treeDisplay{

    width:70%;
    height:80%;
    overflow-y: scroll;
    border: 0.5px dashed gray;
    text-align: center;
    

}

#compressionDisplay{
    width:70%;
    height:80%;
    border: 0.5px dashed gray;
    text-align: center;
    font-weight: bold;
}