html,
body {
    height: 100%;
}

#Container {
    width: 100%;
    height: 70%;
    border: 1px solid lightgray;
    display: flex;
    /* margin: 0 auto; */
}

#graphContainer{
    width : 50%;
    height :100%;
    border :1px solid lightgray;
    align-content: center;


}

#solutionContainer{
    width :50%;
    height: 100%;
    align-content: center;
    border: 1px solid lightgray;
}
#generate-graph{
    margin:auto;
    display:block;
}